asteroid_filterbanks
addict
chardet
Cython
diffusers
einops
funasr
g2p_en
jiwer
librosa
matplotlib
modelscope
montreal_forced_aligner
monotonic-alignment-search
nltk
numba
numpy
openai_whisper
pandas
phonemizer
pycwt
pyloudnorm
pynini
PyYAML
Resemblyzer
scikit_learn
scipy
six
scikit-image
soundfile
TextGrid
torch
torchaudio
torchcrepe
tqdm
transformers
webrtcvad
praat-parselmouth
conformer
pesq
pyworld
